*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
button{
    outline: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#code{
    overflow: hidden;
    height: 100%;
    padding: 10px;
}
.actions{
    position: absolute;
    right:10px;
    top: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.actions>button{        
    margin: 10px;
    background: #01cf97;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    font-family: 'Bahnschrift';
    font-size: 18px;
    font-weight:600;
    color:white;
}
.actions>button.active{
    background:#2486ff;
}